body {
  font-family: sans-serif;
  background: white;
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.contact-form{
  display: block;
  justify-content: center;
}

.contact-form input {
  padding: 8px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-right: 15px;
}

.contact-form button {
  padding: 8px 12px;
}

.contact-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.contact-item input {
  margin-right: 8px;
}

.search-input {
  display: flex;
  justify-content: center;
  padding: 8px;
  width: 100%;
  margin-bottom: 20px;}

/*500*/
@media (max-width: 500px) {
  .contact-item span,
  .contact-item input {
    flex: 1 1 100%;
    margin-right: 15px;
  }

  .contact-form input,
  .contact-form button {
    flex: 1 1 100%;
  }
}